@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


.titulos{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.titulosCta{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.texto{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.fondo{
    background-color: rgb(56, 189, 248);
    background-image: radial-gradient(at 25% 74%, rgb(94, 234, 212) 0, transparent 35%), radial-gradient(at 27% 77%, rgb(96, 165, 250) 0, transparent 50%), radial-gradient(at 12% 25%, rgb(226, 232, 240) 0, transparent 79%), radial-gradient(at 35% 49%, rgb(237, 233, 254) 0, transparent 52%), radial-gradient(at 94% 8%, rgb(255, 255, 255) 0, transparent 66%), radial-gradient(at 85% 46%, rgb(252, 165, 165) 0, transparent 47%);
  
    }

.fondo2{
    
   
    background-color: rgb(76, 29, 149);
    background-image: radial-gradient(at 44% 59%, rgb(209, 213, 219) 0, transparent 88%), radial-gradient(at 12% 57%, rgb(139, 92, 246) 0, transparent 73%), radial-gradient(at 54% 85%, rgb(107, 33, 168) 0, transparent 11%), radial-gradient(at 40% 53%, rgb(109, 40, 217) 0, transparent 20%), radial-gradient(at 4% 24%, rgb(146, 64, 14) 0, transparent 97%), radial-gradient(at 30% 43%, rgb(17, 24, 39) 0, transparent 74%);
  
}

.fondo3{
    background-color: rgb(30, 41, 59);
    background-image: radial-gradient(at 21% 64%, rgb(21, 94, 117) 0, transparent 84%), radial-gradient(at 19% 13%, rgb(0, 0, 0) 0, transparent 100%), radial-gradient(at 92% 10%, rgb(0, 0, 0) 0, transparent 91%), radial-gradient(at 81% 76%, rgb(113, 63, 18) 0, transparent 100%), radial-gradient(at 47% 5%, rgb(0, 0, 0) 0, transparent 85%), radial-gradient(at 9% 83%, rgb(113, 63, 18) 0, transparent 100%);
}

.cta{
  transition: transform 350ms;
}
.cta:hover{
  
  background-color: rgba(174, 174, 174, 0.166);
  transform: translateY(-10px);
}

.illus {
  animation: float 4s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-3rem);
  }
  100% {
    transform: translatey(0);
  }
}

.botones {
  position:  absolute;
  width:  100%;
  height:  auto;
  top:  0;
  left:  0;
  padding:  3px 0 0 8px;
  font-size: initial;
  border: 1px solid #000;
}



.boton {
  width:  16px;
  height: 16px;
  background: yellow;
  border-radius:  50px;
  display:  inline-block;
  position:  relative;
  color:  rgba(0,0,0,0.6);
  cursor: default;
}

.boton.rojo {
  background: #FF5750;
}
.boton.rojo:hover::after {
  content:  "x";
  text-align:  center;
  line-height:  110%;
  font-size:  11px;
  width:  100%;
  height:  100%;
  position:  absolute;
  top:  0;
  left:  0;
  font-weight:  bold;
}
.boton.amarillo:hover::after {
  content:  "-";
  text-align:  center;
  line-height:  110%;
  font-size:  11px;
  width:  100%;
  height:  100%;
  position:  absolute;
  top:  0;
  left:  0;
  font-weight:  bold;
}
.boton.verde:hover::after {
  content:  "+";
  text-align:  center;
  line-height:  110%;
  font-size:  11px;
  width:  100%;
  height:  100%;
  position:  absolute;
  top:  0;
  left:  0;
  font-weight:  bold;
}


.boton.amarillo {
  background:  #FFC12E;
}
.boton.verde {
  background: #2AD143;
}



.typing {
  font-family: "Space mono, monospace";
  font-size: 1em;
  padding-left: 20px;
}

@media only screen and (max-width: 462px) {
  .typing {
    font-size: .8em;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 462px) {
  .typing {
    font-size: 1em;
  }
}


.gradient-text{
  background-color: rgb(203, 213, 225);
  background-image: radial-gradient(at 19% 11%, rgb(29, 47, 245) 0, transparent 49%), radial-gradient(at 89% 86%, rgba(221, 32, 32, 0.692) 0,
  transparent 49%), radial-gradient(at 89% 86%, rgba(152, 32, 221, 0.217) 0, transparent 60%), radial-gradient(at 77% 0%, rgb(79, 70, 229) 0, transparent 43%), radial-gradient(at 11% 100%, rgb(2, 132, 199) 0, transparent 92%), radial-gradient(at 45% 46%, rgb(153, 27, 27) 0, transparent 100%), radial-gradient(at 89% 27%, rgb(149, 80, 56) 0, transparent 32%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}




/* Oculta la versión móvil por defecto */
.mobile-animation {
  display: none;
}

/* Cuando la pantalla sea igual o menor a 768px (tamaño de pantalla típico para dispositivos móviles), 
   muestra la versión móvil y oculta la versión de escritorio */
@media (max-width: 768px) {
  .desktop-animation {
    display: none;
  }
  .mobile-animation {
    display: block;
  }
}

    
.backgroundCarrer{
  
  
  background-color: rgb(31, 41, 55);
  background-image: radial-gradient(at 0% 8%, rgb(59, 130, 246) 0, transparent 30%), radial-gradient(at 100% 66%, rgb(139, 92, 246) 0, transparent 43%), radial-gradient(at 22% 100%, rgb(56, 189, 248) 0, transparent 31%), radial-gradient(at 79% 0%, rgb(216, 180, 254) 0, transparent 23%);



}

@tailwind base;
@tailwind components;
@tailwind utilities;